<!DOCTYPE html>
<html>
<head>
  <title>Angular Webpack Setup</title>
  <script src='bundle.js'></script>
</head>
<body>

<div ng-app='app'>
  <div ng-controller='mainController'>
    {{ text }} <br/><br/>
    Input: <input ng-model='foobar' size='50'/><button ng-click='clicked(foobar)'>Submit</button> <br/>
    {{ lala }} <br/>
    {{ foobar }}
    <hr/>
    <p ng-repeat='string in strings track by $index'>
      {{ string }}
    </p>

    <div>
      random service number gen:<br/>
      {{ rando }}<br/>
      {{ rando_2 }}
    </div>
  </div>
  <br/>

  <custom-directive></custom-directive>

</div>

</body>
</html>