<!DOCTYPE html>
<html>
<head>
  <title>Angular 1 Prac</title>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
  <link rel='stylesheet' href='styles.css'/>
</head>
<body ng-app='app'>

  <div id='title' ng-controller='title'>
    <h1>{{ name }}</h1>
    <hr/>
  </div>

  <div class='container'>

    <div class='sub-container flex-item-1'>

      <div id='input' class='sub-flex-item-1'>
        <div ng-controller='input'>
          <form ng-submit='click()'>
            <input ng-model='inputItem'/>
            <input type='submit'/>
          </form>
        </div>
      </div>

      <div id='buttons' class='sub-flex-item-2'>
        <div ng-controller='buttons'>
          <button>Button One</button>
          <button>Button Two</button>
          <button>Button Three</button>
        </div>
      </div>

    </div>

    <div id='list' class='flex-item-2'>
      <div ng-controller='list'>
        <ul>
          <li ng-repeat='item in items | orderBy:"length" track by $index'>{{ item }}</li>
        </ul>
      </div>
    </div>

  </div>

<script src='script.js'></script>
</body>
</html>